[Desktop Entry]
Type=Application
Name=Linux Creation Tool
GenericName=USB Writer
X-GNOME-Fullname=Linux Creation Tool
Comment=Downloads and writes ISO to a device
Icon=linux_creation_tool
Category=System;
Keywords="USB;Flash;Writer;Linux;Creation;Tool"
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
Exec=linux_creation_tool
